[Unit]
Description=PrepPilot Topic Service
After=network.target

[Service]
Type=simple
User=preppilot
WorkingDirectory=/preppilot/topic-service/webapp
ExecStart=/usr/bin/java -jar /preppilot/topic-service/webapp/app.jar
EnvironmentFile=/preppilot/topic-service/.env
Restart=always
RestartSec=5
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
